.marker-cluster-small {

	background-color: #3c4e5a;

	}
.marker-cluster-small div {

	background-color: #3c4e5a;
	}

.marker-cluster-medium {

	background-color: #3c4e5a;
	}
.marker-cluster-medium div {

	background-color: rgba(0,128,0, 0.0);
	}

.marker-cluster-large {
	background-color: #3c4e5a;
	}
.marker-cluster-large div {
	background-color: rgba(0,128,0, 0.0);
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	border: #FFFFFF solid thin;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px 'Gotham-Book';

	}
.marker-cluster span {
	line-height: 30px;
	}
