.marker-cluster-small {

	background-color: rgba(60,70,90, 0.7);

	}


.marker-cluster-medium {

	background-color: rgba(60,70,90, 0.7);
	}


.marker-cluster-large {
	background-color: rgba(60,70,90, 0.7);
	}


.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	border: #FFFFFF solid thin;
	}

.marker-cluster:hover {
	box-shadow: rgb(119, 119, 119) 0px 0px 10px;

	}

.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 18px 'Gotham-Book';
	font-weight:normal;
	}


.marker-cluster span {
	line-height: 30px;
	}
