body {
    margin:0;
    padding:0;
    font: 14px Arial,Helvetica,sans-serif;
}

#leapspotLogo{
  float: left;
  font-size: 47px;
}
#map {
    position:absolute;
    top:54px;
    height: 150px;
    width:58.33333%;
    left:41.6666%;
}

#map-overview{

  position:absolute;
  top:54px;
  height: 100%;
  width:58.4%;
  right:0px;;
  background: #f3f3f3;
  z-index:100;
  display:block;

}



#momentMainContainer{
  position:relative;
  width:78%;
  left:22.2%;
  top:150px;
  height: 100px;
  background: #f3f3f3;
  overflow-y:auto;

}

#locationContainer{

  position:relative;
  width:100%;
  height: 100%;
  background: #f3f3f3;
  margin: 0 auto;
  overflow-y: auto;
  padding: 20px;

}

.locationMomentImage{


  box-shadow: rgb(136, 136, 136) 0px 0px 10px;

}

.submitted, .about-text {
    position: relative;
    top:175px;
    width: 370px;
    z-index: 100;
    margin: 0 auto;
    display: none;
}
.attribute {
    position: absolute;
}
.crosshair {
    position: absolute;
    top:49%;
    left:49%;
    z-index: 100;
}
.search {
  font-size: 24px;

    font-weight: 600;
    position: relative;
}

.col5 {
    overflow: scroll;
}
@media only screen and (max-width:640px) {
    .col5 {
        position: relative;
    }
    #map {
        position: relative;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 400px;
    }
}

select {
    margin: 0;
}
